
.indexScrollOuter {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: absolute
}

.index p {
    color: #ffffff
}

.trasformBlock {
    position: relative;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: auto
}

.MacSafari .scene_bg:before {
    display: none
}

.scene_bg {
    position: relative;
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/fonts/scene_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #1a1a1a;
    height: 4200px;
    transition: all 0.3s ease-in
}

.scene_bg:before {
    content: '';
    display: block;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 17%, #1a1a1a 78%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px
}

@supports (-webkit-overflow-scrolling: touch) {
    .scene_bg:before {
        display: none
    }
}

@media screen and (max-width: 1280px) {
    .scene_bg {
        background-size: auto;
        height: 4000px
    }
}

@media screen and (max-width: 767px) {
    .scene_bg {
        height: 4200px
    }
}

.stopBG {
    position: absolute;
    left: 0;
    top: 1112px;
    z-index: 2;
    width: 100%;
    opacity: 0.5
}

.crashCar {
    position: absolute;
    left: 50%;
    margin-left: -44px;
    width: 88px;
    height: 324px;
    background-image: url("/animation/picture/plane.png");
    opacity: 0;
    transition: all 0.3s ease-in
}

.stickyMainItem {
    position: fixed;
    z-index: 5;
    width: 88px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.stickyMainItem.behind {
    z-index: -1
}

.stickyCar {
    background-image: url("/animation/picture/plane.png");
    opacity: 1;
    position: absolute;
    width: 88px;
    height: 260px;
    transition: all 0.3s ease-in
}

.stickyCar.hide {
    opacity: 0;
    z-index: -1
}

.carCrash {
    background-image: url("/animation/picture/plane.png");
    width: 88px;
    height: 324px;
    position: absolute;
    top: 1000px;
    left: 50%;
    margin-left: -44px;
    z-index: 2
}

.stopCar {
    background-image: url("/animation/picture/plane.png");
    width: 88px;
    height: 324px;
    margin: 100px auto 0;
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.3s ease-in
}

@media screen and (max-width: 767px) {
    .stopCar {
        height: 250px;
        margin: 20px auto 0
    }
}

.EndList {
    position: absolute;
    top: 3600px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    z-index: 2
}

@media screen and (max-width: 1280px) {
    .EndList {
        top: 3400px
    }
}

@media screen and (max-width: 767px) {
    .EndList {
        width: 90%;
        margin-left: -45%
    }
}

.EndList.show .stopCar {
    opacity: 1
}

.EndList.show .pos1, .EndList.show .pos3 {
    opacity: 1;
    left: 0
}

.EndList.show .pos2, .EndList.show .pos4 {
    opacity: 1;
    right: 0
}

.EndList.show .EndList-title {
    opacity: 1
}

.EndList-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    opacity: 0
}

.stickyMsg {
    border: solid 1px #646464;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    padding: 18px 40px;
    font-size: 18px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    position: relative;
    position: absolute;
    bottom: 106%;
    width: 300px;
    margin-left: -106px;
    opacity: 0;
    transition: opacity 0.3s ease-in
}

.stickyMsg:before {
    content: '';
    display: block;
    position: absolute;
    right: 141px;
    bottom: -12px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: #646464;
    border-width: 11px 11px 0 0
}

.stickyMsg:after {
    content: '';
    display: block;
    position: absolute;
    right: 140px;
    bottom: -9px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.9);
    border-width: 10px 10px 0 0
}

@media screen and (max-width: 767px) {
    .stickyMsg {
        padding: 15px;
        font-size: 16px
    }
}

@media screen and (max-width: 320px) {
    .stickyMsg {
        padding: 10px
    }
}

.stickyMsg.show {
    bottom: 108%;
    opacity: 1
}

.stickyMsg.big {
    width: 400px;
    margin-left: -156px
}

@media screen and (max-width: 767px) {
    .stickyMsg.big {
        width: 300px;
        margin-left: -106px
    }
}

.Roadblock {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/warring.png");
    position: absolute;
    top: 1200px;
    right: calc(50vw - 145px);
    width: 62px;
    height: 32px;
    opacity: 0
}

.Roadblock.show {
    opacity: 1;
    transition: all 0.3s ease-in
}

@media screen and (max-width: 767px) {
    .Roadblock {
        top: 1000px
    }
}

@media screen and (max-width: 320px) {
    .Roadblock {
        top: 840px
    }
}

.drunkman {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/drunkman.png");
    position: absolute;
    top: 1125px;
    right: calc(50vw + 9px);
    width: 88px;
    height: 93px;
    opacity: 0
}

.drunkman.show {
    opacity: 1;
    transition: all 0.3s ease-in
}

@media screen and (max-width: 767px) {
    .drunkman {
        top: 1000px
    }
}

@media screen and (max-width: 320px) {
    .drunkman {
        top: 840px
    }
}

.DPO {
    border: solid 1px #646464;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    padding: 18px 40px;
    font-size: 18px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    position: relative;
    position: absolute;
    top: 1700px;
    opacity: 0;
    width: 500px;
    left: 50%;
    margin-left: -250px
}

.DPO:before {
    content: '';
    display: block;
    position: absolute;
    right: 141px;
    bottom: -12px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: #646464;
    border-width: 11px 11px 0 0
}

.DPO:after {
    content: '';
    display: block;
    position: absolute;
    right: 140px;
    bottom: -9px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.9);
    border-width: 10px 10px 0 0
}

@media screen and (max-width: 767px) {
    .DPO {
        padding: 15px;
        font-size: 16px
    }
}

@media screen and (max-width: 320px) {
    .DPO {
        padding: 10px
    }
}

.DPO.show {
    opacity: 1;
    top: 1600px;
    transition: all 0.3s ease-in
}

@media screen and (max-width: 767px) {
    .DPO {
        width: 96%;
        margin-left: -48%
    }
}

.FinalCut {
    border: solid 1px #646464;
    background-color: rgba(0, 0, 0, 0.9);
    color: #ffffff;
    padding: 18px 40px;
    font-size: 18px;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    position: relative;
    position: absolute;
    top: 3300px;
    opacity: 0;
    width: 500px;
    left: 50%;
    margin-left: -250px
}

.FinalCut:before {
    content: '';
    display: block;
    position: absolute;
    right: 141px;
    bottom: -12px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: #646464;
    border-width: 11px 11px 0 0
}

.FinalCut:after {
    content: '';
    display: block;
    position: absolute;
    right: 140px;
    bottom: -9px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.9);
    border-width: 10px 10px 0 0
}

@media screen and (max-width: 767px) {
    .FinalCut {
        padding: 15px;
        font-size: 16px
    }
}

@media screen and (max-width: 320px) {
    .FinalCut {
        padding: 10px
    }
}

.FinalCut.show {
    opacity: 1;
    top: 3400px;
    transition: all 0.3s ease-in
}

@media screen and (max-width: 1280px) {
    .FinalCut {
        top: 3100px
    }

    .FinalCut.show {
        top: 3200px
    }
}

@media screen and (max-width: 767px) {
    .FinalCut {
        top: 3150px;
        width: 90%;
        margin-left: -45%
    }

    .FinalCut.show {
        top: 3250px
    }
}

.inlineLink:link {
    color: #fff3c9
}

.inlineLink:active {
    color: #fff3c9
}

.inlineLink:visited {
    color: #fff3c9
}

.inlineLink:hover {
    color: #fff3c9
}

.judge {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/judge.png");
    background-position: center center;
    position: absolute;
    bottom: 0;
    width: 920px;
    height: 552px;
    left: 50%;
    margin-left: -460px;
    opacity: 0
}

.judge.show {
    opacity: 1;
    transition: all 0.3s ease-in
}

@media screen and (max-width: 1023px) {
    .judge {
        width: 100%;
        margin-left: 0;
        left: 0
    }
}

.building {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/buildtop.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 1502px;
    height: 487px;
    margin: 0 auto;
    text-align: center
}

@media screen and (max-width: 1600px) {
    .building {
        width: 100%
    }
}

.buildTitle {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 30px
}

@media screen and (max-width: 767px) {
    .buildTitle {
        padding-top: 40px;
        padding-bottom: 0px
    }
}

.linkItem {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/adbg.png");
    width: 221px;
    height: 192px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    font-size: 22px;
    font-weight: 600;
    line-height: 192px
}

.linkItem:link {
    color: #000000
}

.linkItem:active {
    color: #000000
}

.linkItem:visited {
    color: #000000
}

.linkItem:hover {
    color: #000000
}

@media screen and (max-width: 767px) {
    .linkItem {
        width: 260px;
        height: 75px;
        background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/adbg_s.png");
        display: block;
        margin: 20px auto;
        line-height: 75px;
        font-size: 20px
    }
}

.buildbottom {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/buildbottom.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 1508px;
    height: 163px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px
}

.buildbottom span {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #ffffff
}

@media screen and (max-width: 1600px) {
    .buildbottom {
        width: 100%
    }
}

.sourceLink {
    margin: 0 15px;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle
}

.sourceLink:link {
    color: #ffffff
}

.sourceLink:active {
    color: #ffffff
}

.sourceLink:visited {
    color: #ffffff
}

.sourceLink:hover {
    color: #ffffff
}

.bubble {
    width: 224px;
    height: 184px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: all 0.2s ease-in
}

.bubble a {
    font-weight: 600;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    width: 224px;
    height: 184px;
    display: block;
    padding-top: 55px;
    padding-bottom: 55px
}

.bubble a img {
    display: inline
}

@media screen and (max-width: 767px) {
    .bubble {
        position: static;
        display: block;
        width: 50%;
        height: 120px;
        text-align: center;
        margin: 10px 0
    }

    .bubble a {
        width: 120px;
        height: 120px;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px
    }

    .bubble a div {
        line-height: 1
    }
}

.bubble_btnL a {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn1.png");
    padding-right: 40px
}

.bubble_btnL a:hover {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn1_hover.png");
    color: #ffffff
}

.bubble_btnL a:link {
    color: #ffffff
}

.bubble_btnL a:active {
    color: #ffffff
}

.bubble_btnL a:visited {
    color: #ffffff
}

@media screen and (max-width: 767px) {
    .bubble_btnL {
        float: left
    }

    .bubble_btnL a {
        background-size: contain;
        background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn_s.png");
        padding-right: 0
    }

    .bubble_btnL a:hover {
        background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn_s_hover.png")
    }
}

.bubble_btnR {
    float: right
}

.bubble_btnR a {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn2.png");
    padding-left: 40px
}

.bubble_btnR a:hover {
    background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn2_hover.png");
    color: #ffffff
}

.bubble_btnR a:link {
    color: #ffffff
}

.bubble_btnR a:active {
    color: #ffffff
}

.bubble_btnR a:visited {
    color: #ffffff
}

@media screen and (max-width: 767px) {
    .bubble_btnR a {
        background-size: contain;
        background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn_s.png");
        padding-left: 0
    }

    .bubble_btnR a:hover {
        background-image: url("https://www.cna.com.tw/project/20190719-drunkdriving/img/index/btn_s_hover.png")
    }
}

.pos1 {
    left: -20px;
    top: 0
}

.pos2 {
    right: -20px;
    top: 0
}

.pos3 {
    left: -20px;
    bottom: 80px
}

.pos4 {
    right: -20px;
    bottom: 80px
}

@media screen and (max-width: 767px) {
    .pos1, .pos2, .pos3, .pos4 {
        top: inherit;
        bottom: inherit;
        left: inherit;
        right: inherit
    }

    .pos4 a img {
        height: 45px
    }
}

/*# sourceMappingURL=http://localhost:3000/_maps/index-ScrollPos.css.map */