.morphyBall {
    background-color: #0B090C;
    width: 100vw;
    height: 100vh;
    position: relative
}

.blackBlock {
    width: 100%;
    height: 100px;
    background-color: #0B090C
}

@media screen and (max-width: 1600px) {
    .blackBlock {
        display: none
    }
}

.infoBox {
    width: 500px;
    height: 400px;
    color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.infoBox div {
    font-size: 46px
}

.infoBox p, .infoBox div {
    text-align: left;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5)
}

@media screen and (max-width: 767px) {
    .infoBox {
        height: 300px;
        width: 90%
    }

    .infoBox div {
        font-size: 26px
    }

    .infoBox p {
        font-size: 14px
    }
}

@media screen and (max-width: 480px) {
    .infoBox div {
        font-size: 32px
    }
}

@media screen and (max-width: 360px) {
    .infoBox div {
        font-size: 27px
    }

    .infoBox p {
        font-size: 13px
    }
}

.markrotate {
    display: inline-block;
    transform: rotate(10deg);
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5)
}

.execution {
    margin-top: 20px
}

.pit {
    filter: blur(25px) contrast(10);
    background-color: #0B090C;
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation: huenator 10s infinite;
    overflow: hidden;
    left: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1)
}

.pit:after {
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 36%, rgba(60, 60, 60, 0.745833) 83%, #000 100%);
    display: block;
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2
}

.IE_Static_BG .pit {
    display: none
}

.forIE {
    display: none
}

.IE_Static_BG .forIE {
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/index/light.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0
}

.info {
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0)
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden
}

.IE_Static_BG .fadeIn {
    animation: none
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    25% {
        opacity: 0.5;
        filter: blur(8px) contrast(10);
        -webkit-filter: blur(8px) contrast(10)
    }

    50% {
        opacity: 0.8;
        filter: blur(2px) contrast(4);
        -webkit-filter: blur(2px) contrast(4)
    }

    100% {
        opacity: 1
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 10s;
    animation-fill-mode: both
}

@keyframes fadeOut {
    0% {
        opacity: 0.6
    }

    25% {
        opacity: 0.7
    }

    50% {
        opacity: 0.8
    }

    100% {
        opacity: 1
    }
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: -100px
}

@media screen and (max-width: 480px) {
    .ball {
        width: 30px;
        height: 30px
    }
}

.ball:nth-child(1) {
    background-color: #36cbd3;
    animation: ball-1 4s infinite alternate-reverse linear;
    animation-delay: 0.1922903974s;
    animation-duration: 11s
}

.ball:nth-child(2) {
    background-color: #6ca79d;
    animation: ball-2 4s infinite alternate-reverse linear;
    animation-delay: 0.7747130414s;
    animation-duration: 11s
}

.ball:nth-child(3) {
    background-color: #6cab69;
    animation: ball-3 4s infinite alternate-reverse linear;
    animation-delay: 0.3094043358s;
    animation-duration: 11s
}

.ball:nth-child(4) {
    background-color: #8595ad;
    animation: ball-4 4s infinite alternate-reverse linear;
    animation-delay: 0.0343119779s;
    animation-duration: 11s
}

.ball:nth-child(5) {
    background-color: #24f92f;
    animation: ball-5 4s infinite alternate-reverse linear;
    animation-delay: 0.3329915962s;
    animation-duration: 11s
}

.ball:nth-child(6) {
    background-color: #d8bf46;
    animation: ball-6 4s infinite alternate-reverse linear;
    animation-delay: 0.4317353105s;
    animation-duration: 11s
}

.ball:nth-child(7) {
    background-color: #56ae7e;
    animation: ball-7 4s infinite alternate-reverse linear;
    animation-delay: 0.2995196062s;
    animation-duration: 11s
}

.ball:nth-child(8) {
    background-color: #b230f8;
    animation: ball-8 4s infinite alternate-reverse linear;
    animation-delay: 0.8742349923s;
    animation-duration: 11s
}

.ball:nth-child(9) {
    background-color: #7d8db5;
    animation: ball-9 4s infinite alternate-reverse linear;
    animation-delay: 0.8485571686s;
    animation-duration: 11s
}

.ball:nth-child(10) {
    background-color: #919c97;
    animation: ball-10 4s infinite alternate-reverse linear;
    animation-delay: 0.706468798s;
    animation-duration: 11s
}

@keyframes ball-1 {
    0% {
        transform: translateX(10vw) translateY(20vh);
        width: 30rem;
        height: 30rem
    }

    20% {
        transform: translateX(20vw) translateY(61vh)
    }

    40% {
        transform: translateX(40vw) translateY(52vh)
    }

    60% {
        transform: translateX(60vw) translateY(81vh);
        width: 12rem;
        height: 12rem
    }

    80% {
        transform: translateX(80vw) translateY(32vh)
    }

    100% {
        transform: translateX(100vw) translateY(10vh);
        width: 30rem;
        height: 30rem
    }
}

@keyframes ball-2 {
    0% {
        transform: translateX(10vw) translateY(20vh);
        width: 12rem;
        height: 12rem
    }

    20% {
        transform: translateX(20vw) translateY(40vh)
    }

    40% {
        transform: translateX(40vw) translateY(50vh)
    }

    60% {
        transform: translateX(60vw) translateY(40vh);
        width: 15rem;
        height: 15rem
    }

    80% {
        transform: translateX(80vw) translateY(32vh)
    }

    100% {
        transform: translateX(100vw) translateY(10vh);
        width: 6rem;
        height: 6rem
    }
}

@keyframes ball-3 {
    0% {
        transform: translateX(0) translateY(50vh);
        width: 10rem;
        height: 10rem
    }

    20% {
        transform: translateX(20vw) translateY(29vh)
    }

    40% {
        transform: translateX(40vw) translateY(10vh)
    }

    60% {
        transform: translateX(60vw) translateY(47vh);
        width: 8rem;
        height: 8rem
    }

    80% {
        transform: translateX(80vw) translateY(4vh)
    }

    100% {
        transform: translateX(100vw) translateY(68vh);
        width: 4rem;
        height: 4rem
    }
}

@keyframes ball-4 {
    0% {
        transform: translateX(0) translateY(83vh);
        width: 16rem;
        height: 16rem
    }

    20% {
        transform: translateX(20vw) translateY(93vh)
    }

    40% {
        transform: translateX(40vw) translateY(51vh)
    }

    60% {
        transform: translateX(60vw) translateY(64vh);
        width: 8rem;
        height: 8rem
    }

    80% {
        transform: translateX(80vw) translateY(36vh)
    }

    100% {
        transform: translateX(100vw) translateY(39vh);
        width: 16rem;
        height: 16rem
    }
}

@keyframes ball-5 {
    0% {
        transform: translateX(0) translateY(10vh);
        width: 6rem;
        height: 6rem
    }

    20% {
        transform: translateX(20vw) translateY(77vh)
    }

    40% {
        transform: translateX(40vw) translateY(78vh)
    }

    60% {
        transform: translateX(60vw) translateY(43vh);
        width: 3rem;
        height: 3rem
    }

    80% {
        transform: translateX(80vw) translateY(87vh)
    }

    100% {
        transform: translateX(100vw) translateY(79vh);
        width: 6rem;
        height: 6rem
    }
}

@keyframes ball-6 {
    0% {
        transform: translateX(0) translateY(94vh);
        width: 12rem;
        height: 12rem
    }

    20% {
        transform: translateX(20vw) translateY(81vh)
    }

    40% {
        transform: translateX(40vw) translateY(28vh)
    }

    60% {
        transform: translateX(60vw) translateY(95vh);
        width: 4rem;
        height: 4rem
    }

    80% {
        transform: translateX(80vw) translateY(3vh)
    }

    100% {
        transform: translateX(100vw) translateY(62vh);
        width: 12rem;
        height: 12rem
    }
}

@keyframes ball-7 {
    0% {
        transform: translateX(0) translateY(31vh);
        width: 8rem;
        height: 8rem
    }

    20% {
        transform: translateX(20vw) translateY(9vh)
    }

    40% {
        transform: translateX(40vw) translateY(45vh)
    }

    60% {
        transform: translateX(60vw) translateY(31vh);
        width: 4rem;
        height: 4rem
    }

    80% {
        transform: translateX(80vw) translateY(24vh)
    }

    100% {
        transform: translateX(100vw) translateY(95vh);
        width: 10rem;
        height: 10rem
    }
}

@keyframes ball-8 {
    0% {
        transform: translateX(0) translateY(44vh);
        width: 8rem;
        height: 8rem
    }

    20% {
        transform: translateX(20vw) translateY(98vh)
    }

    40% {
        transform: translateX(40vw) translateY(96vh)
    }

    60% {
        transform: translateX(60vw) translateY(55vh);
        width: 4rem;
        height: 4rem
    }

    80% {
        transform: translateX(80vw) translateY(60vh)
    }

    100% {
        transform: translateX(100vw) translateY(37vh);
        width: 10rem;
        height: 10rem
    }
}

@keyframes ball-9 {
    0% {
        transform: translateX(0) translateY(88vh);
        width: 6rem;
        height: 6rem
    }

    20% {
        transform: translateX(20vw) translateY(29vh)
    }

    40% {
        transform: translateX(40vw) translateY(37vh)
    }

    60% {
        transform: translateX(60vw) translateY(95vh);
        width: 3rem;
        height: 3rem
    }

    80% {
        transform: translateX(80vw) translateY(11vh)
    }

    100% {
        transform: translateX(100vw) translateY(84vh);
        width: 10rem;
        height: 10rem
    }
}

@keyframes ball-10 {
    0% {
        transform: translateX(0) translateY(72vh);
        width: 10rem;
        height: 10rem
    }

    20% {
        transform: translateX(20vw) translateY(21vh)
    }

    40% {
        transform: translateX(40vw) translateY(5vh)
    }

    60% {
        transform: translateX(60vw) translateY(29vh);
        width: 12rem;
        height: 12rem
    }

    80% {
        transform: translateX(80vw) translateY(79vh)
    }

    100% {
        transform: translateX(100vw) translateY(38vh);
        width: 10rem;
        height: 10rem
    }
}

@keyframes huenator {
    0% {
        filter: hue-rotate(0deg) blur(25px) contrast(10)
    }

    100% {
        filter: hue-rotate(360deg) blur(25px) contrast(10)
    }
}

@keyframes scrollIcon {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(6px)
    }
}

.list .home-scroll-cta {
    bottom: 25vh;
    left: 50%;
    width: 160px
}

.list .home-scroll-cta .scroll-animated {
    margin: 0px 68px 10px
}

.list .home-scroll-cta p {
    width: 160px
}

.home-scroll-cta {
    bottom: 50px;
    box-sizing: border-box;
    color: #fff;
    height: 60px;
    left: 50%;
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    width: 80px;
    z-index: 0;
    transform: translate(-50%, 40%);
    border: 0px none #fff;
    font: normal normal normal normal 11px / 11px brandon-grotesque, sans-serif;
    margin: 30px 0px 0px;
    outline: #fff none 0px
}

@media screen and (max-width: 767px) {
    .home-scroll-cta {
        bottom: 80px
    }
}

.home-scroll-cta .scroll-animated {
    box-sizing: border-box;
    color: #fff;
    height: 38px;
    letter-spacing: 3px;
    text-align: center;
    width: 24px;
    perspective-origin: 12px 19px;
    transform-origin: 12px 19px;
    border: 2px solid #fff;
    border-radius: 12px 12px 12px 12px;
    font: normal normal normal normal 11px / 11px brandon-grotesque, sans-serif;
    margin: 0px 28px 10px;
    outline: #fff none 0px
}

.home-scroll-cta .scroll-animated .scroll-animated-inner {
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 5px;
    letter-spacing: 3px;
    text-align: center;
    width: 2px;
    z-index: 0;
    perspective-origin: 1px 2.5px;
    transform: matrix(1, 0, 0, 1, 0, 3.67524);
    transform-origin: 1px 2.5px;
    animation: scrollIcon 1s ease 0s infinite alternate none running;
    background: #fff none repeat scroll 0% 0%/auto padding-box border-box;
    border: 0px none #fff;
    border-radius: 50% 50% 50% 50%;
    font: normal normal normal normal 11px / 11px brandon-grotesque, sans-serif;
    margin: 8px 9px;
    outline: #fff none 0px
}

.home-scroll-cta .shape-scroll-touch .small-only {
    box-sizing: border-box;
    color: #fff;
    display: none;
    height: 38px;
    letter-spacing: 3px;
    text-align: center;
    width: 38px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    border: 0px none #fff;
    font: normal normal normal normal 11px / 11px brandon-grotesque, sans-serif;
    margin: 0px 0px 6px;
    outline: #fff none 0px;
    overflow: hidden
}

.home-scroll-cta p {
    box-sizing: border-box;
    color: #fff;
    height: 24px;
    letter-spacing: 3px;
    text-align: center;
    width: 80px;
    perspective-origin: 27.0938px 12px;
    transform-origin: 27.0938px 12px;
    border: 0px none #fff;
    font-weight: bold;
    font-size: 12px;
    font-family: "Microsoft JhengHei";
    margin: 2px 0px 16px;
    outline: #fff none 0px
}

@media screen and (max-width: 1024px) {
    .home-scroll-cta p {
        font: inherit
    }
}

@media screen and (max-width: 1024px) {
    .shape-scroll-touch.small-only {
        display: none
    }
}

@media screen and (max-width: 480px) {
    @keyframes ball-1 {
        0% {
            transform: translateX(10vw) translateY(20vh);
            width: 16rem;
            height: 16rem
        }

        20% {
            transform: translateX(20vw) translateY(61vh)
        }

        40% {
            transform: translateX(40vw) translateY(52vh)
        }

        60% {
            transform: translateX(60vw) translateY(81vh);
            width: 8rem;
            height: 8rem
        }

        80% {
            transform: translateX(80vw) translateY(32vh)
        }

        100% {
            transform: translateX(100vw) translateY(10vh);
            width: 6rem;
            height: 6rem
        }
    }

    @keyframes ball-2 {
        0% {
            transform: translateX(10vw) translateY(20vh);
            width: 10rem;
            height: 10rem
        }

        20% {
            transform: translateX(20vw) translateY(40vh)
        }

        40% {
            transform: translateX(40vw) translateY(50vh)
        }

        60% {
            transform: translateX(60vw) translateY(40vh);
            width: 14rem;
            height: 14rem
        }

        80% {
            transform: translateX(80vw) translateY(32vh)
        }

        100% {
            transform: translateX(100vw) translateY(10vh);
            width: 3rem;
            height: 3rem
        }
    }

    @keyframes ball-3 {
        0% {
            transform: translateX(0) translateY(50vh);
            width: 6rem;
            height: 6rem
        }

        20% {
            transform: translateX(20vw) translateY(29vh)
        }

        40% {
            transform: translateX(40vw) translateY(10vh)
        }

        60% {
            transform: translateX(60vw) translateY(47vh);
            width: 8rem;
            height: 8rem
        }

        80% {
            transform: translateX(80vw) translateY(4vh)
        }

        100% {
            transform: translateX(100vw) translateY(68vh);
            width: 4rem;
            height: 4rem
        }
    }

    @keyframes ball-4 {
        0% {
            transform: translateX(0) translateY(83vh);
            width: 14rem;
            height: 14rem
        }

        20% {
            transform: translateX(20vw) translateY(93vh)
        }

        40% {
            transform: translateX(40vw) translateY(51vh)
        }

        60% {
            transform: translateX(60vw) translateY(64vh);
            width: 8rem;
            height: 8rem
        }

        80% {
            transform: translateX(80vw) translateY(36vh)
        }

        100% {
            transform: translateX(100vw) translateY(39vh);
            width: 12rem;
            height: 12rem
        }
    }

    @keyframes ball-5 {
        0% {
            transform: translateX(0) translateY(10vh);
            width: 6rem;
            height: 6rem
        }

        20% {
            transform: translateX(20vw) translateY(77vh)
        }

        40% {
            transform: translateX(40vw) translateY(78vh)
        }

        60% {
            transform: translateX(60vw) translateY(43vh);
            width: 3rem;
            height: 3rem
        }

        80% {
            transform: translateX(80vw) translateY(87vh)
        }

        100% {
            transform: translateX(100vw) translateY(79vh);
            width: 6rem;
            height: 6rem
        }
    }

    @keyframes ball-6 {
        0% {
            transform: translateX(0) translateY(94vh);
            width: 12rem;
            height: 12rem
        }

        20% {
            transform: translateX(20vw) translateY(81vh)
        }

        40% {
            transform: translateX(40vw) translateY(28vh)
        }

        60% {
            transform: translateX(60vw) translateY(95vh);
            width: 4rem;
            height: 4rem
        }

        80% {
            transform: translateX(80vw) translateY(3vh)
        }

        100% {
            transform: translateX(100vw) translateY(62vh);
            width: 8rem;
            height: 8rem
        }
    }

    @keyframes ball-7 {
        0% {
            transform: translateX(0) translateY(31vh);
            width: 8rem;
            height: 8rem
        }

        20% {
            transform: translateX(20vw) translateY(9vh)
        }

        40% {
            transform: translateX(40vw) translateY(45vh)
        }

        60% {
            transform: translateX(60vw) translateY(31vh);
            width: 4rem;
            height: 4rem
        }

        80% {
            transform: translateX(80vw) translateY(24vh)
        }

        100% {
            transform: translateX(100vw) translateY(95vh);
            width: 6rem;
            height: 6rem
        }
    }

    @keyframes ball-8 {
        0% {
            transform: translateX(0) translateY(44vh);
            width: 4rem;
            height: 4rem
        }

        20% {
            transform: translateX(20vw) translateY(98vh)
        }

        40% {
            transform: translateX(40vw) translateY(96vh)
        }

        60% {
            transform: translateX(60vw) translateY(55vh);
            width: 4rem;
            height: 4rem
        }

        80% {
            transform: translateX(80vw) translateY(60vh)
        }

        100% {
            transform: translateX(100vw) translateY(37vh);
            width: 10rem;
            height: 10rem
        }
    }

    @keyframes ball-9 {
        0% {
            transform: translateX(0) translateY(88vh);
            width: 6rem;
            height: 6rem
        }

        20% {
            transform: translateX(20vw) translateY(29vh)
        }

        40% {
            transform: translateX(40vw) translateY(37vh)
        }

        60% {
            transform: translateX(60vw) translateY(95vh);
            width: 3rem;
            height: 3rem
        }

        80% {
            transform: translateX(80vw) translateY(11vh)
        }

        100% {
            transform: translateX(100vw) translateY(84vh);
            width: 10rem;
            height: 10rem
        }
    }

    @keyframes ball-10 {
        0% {
            transform: translateX(0) translateY(72vh);
            width: 10rem;
            height: 10rem
        }

        20% {
            transform: translateX(20vw) translateY(21vh)
        }

        40% {
            transform: translateX(40vw) translateY(5vh)
        }

        60% {
            transform: translateX(60vw) translateY(29vh);
            width: 12rem;
            height: 12rem
        }

        80% {
            transform: translateX(80vw) translateY(79vh)
        }

        100% {
            transform: translateX(100vw) translateY(38vh);
            width: 10rem;
            height: 10rem
        }
    }
}

/*# sourceMappingURL=http://localhost:3000/_maps/morphyBall.css.map */