* {
    box-sizing: border-box
}

html {
    -ms-touch-action: auto;
    touch-action: auto
}

body.MacSafari {
    height: 100%;
    overflow: auto
}

body {
    width: 100%;
    -ms-touch-action: auto;
    touch-action: auto;
    font-family: "Microsoft JhengHei", "SF Pro TC", "SF Pro Text", "PingFang TC", Arial, sans-serif;
    font-display: auto;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.8;
    position: relative;
    text-rendering: optimizeLegibility
}

body.blackBG {
    background-color: #0B090C
}

body.stopScroll {
    height: 100%;
    overflow: hidden
}

.iOSstopScroll {
    display: none
}

@supports (-webkit-overflow-scrolling: touch) {
    body.index {
        position: fixed
    }

    body.list {
        position: fixed
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal
}

ul, li, p {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #0b090c
}

@media screen and (max-width: 320px) {
    ul, li, p {
        font-size: 16px
    }
}

.index h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5)
}

@media screen and (max-width: 767px) {
    .index h1 {
        font-size: 40px;
        text-align: left
    }
}

@media screen and (max-width: 480px) {
    .index h1 {
        font-size: 48px
    }
}

@media screen and (max-width: 360px) {
    .index h1 {
        font-size: 40px
    }
}

a {
    transition: all 0.3s ease-in;
    text-decoration: none
}

a:link {
    color: #000000
}

a:active {
    color: #000000
}

a:visited {
    color: #000000
}

a:hover {
    color: #000000
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block
}

.container {
    position: relative;
    overflow: hidden
}

.index .container {
    height: 100vh;
    overflow: auto
}

@media screen and (max-width: 1024px) {
    .index .container {
        -webkit-overflow-scrolling: touch
    }
}

::-webkit-scrollbar {
    display: none
}

.violet {
    color: #432ca0
}

.turnDeviceNotification {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 9999;
    background: url("../img/turnDevice.png") center center no-repeat;
    background-size: cover
}

.turnDeviceNotification.show {
    display: block
}

.turnDeviceNotification.hide {
    display: none
}

.gotop {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 98;
    cursor: pointer
}

@media screen and (max-width: 1024px) {
    .gotop {
        bottom: 50px;
        right: 20px
    }
}

@media screen and (max-width: 320px) {
    .gotop {
        bottom: 80px
    }
}

.innergotop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 98;
    cursor: pointer
}

@media screen and (max-width: 1024px) {
    .innergotop {
        bottom: 50px;
        right: 20px
    }
}

@media screen and (max-width: 320px) {
    .innergotop {
        bottom: 80px
    }
}

.windowLoadScrollTip {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}

.windowLoadScrollTip.hide {
    display: none
}

.wrapper {
    width: 1280px;
    position: relative;
    margin: 0 auto;
    clear: both;
    zoom: 1
}

.wrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media screen and (max-width: 1280px) {
    .wrapper {
        width: 90%
    }
}

.wrapper-s {
    width: 800px;
    position: relative;
    margin: 0 auto;
    clear: both;
    zoom: 1
}

.wrapper-s:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media screen and (max-width: 1023px) {
    .wrapper-s {
        width: 90%
    }
}

.wrapper-s2 {
    width: 1000px;
    position: relative;
    margin: 0 auto;
    clear: both;
    zoom: 1
}

.wrapper-s2:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media screen and (max-width: 1023px) {
    .wrapper-s2 {
        width: 90%
    }
}

.MacSafari .listContent::after {
    display: none
}

.listContent {
    position: relative
}

.listContent::after {
    content: '';
    display: block;
    background: linear-gradient(0deg, #0b090c 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 10%
}

@supports (-webkit-overflow-scrolling: touch) {
    .listContent::after {
        display: none
    }
}

.listContent .sticky {
    position: static;
    top: inherit;
    left: inherit
}

.mainBlock {
    background: #483361;
    background: radial-gradient(circle, #483361 0%, #0b090c 100%);
    width: 100vw;
    position: relative
}

@media screen and (max-width: 1280px) {
    .mainBlock {
        width: 80vw
    }
}

@media screen and (max-width: 1023px) {
    .mainBlock {
        width: 100%
    }
}

.noiseBG {
    background-image: url("../img/noise.png");
    background-position: center center;
    background-repeat: repeat;
    width: 100%
}

@media screen and (max-width: 767px) {
    .noiseBG {
        background-size: 50%
    }
}

.mbBlackOpen .mainChart {
    z-index: -1
}

.mbBlackOpen .switch {
    z-index: 0
}

.mbBlackOpen .mb-black {
    display: block
}

.mbBlackOpen .list-title {
    z-index: -1
}

.mb-black {
    display: none;
    transition: opacity 0.2s ease-in;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    bottom: 0
}

.anotherLink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 380px;
    height: 120px;
    z-index: 2
}

.anotherLink a {
    display: block;
    font-size: 22px;
    margin: 10px 0;
    position: relative
}

.anotherLink a:link {
    color: #ffffff
}

.anotherLink a:active {
    color: #e4b6f5
}

.anotherLink a:visited {
    color: #ffffff
}

.anotherLink a:hover {
    color: #e4b6f5
}

.anotherLink a i {
    padding-left: 5px
}

.anotherLink a:first-child {
    border-bottom: 1px solid #322837;
    padding-bottom: 10px
}

@media screen and (max-width: 767px) {
    .anotherLink {
        width: 80%;
        height: 200px
    }
}

.link-title {
    font-size: 20px
}

.mainChart {
    position: absolute;
    top: 50%;
    left: 50%
}

@media screen and (max-width: 1367px) {
    .mainChart {
        top: 52%
    }
}

@media screen and (max-width: 1023px) {
    .mainChart {
        width: 600px;
        height: 620px;
        margin-top: -300px;
        margin-left: -300px;
        left: 50%
    }
}

@media screen and (max-width: 767px) {
    .mainChart {
        width: 320px;
        height: 340px;
        margin-top: -160px;
        margin-left: -160px;
        top: 55%
    }
}

@media screen and (max-width: 320px) {
    .mainChart {
        width: 280px;
        height: 300px;
        margin-top: -150px;
        margin-left: -140px
    }
}

.imgCollection {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.imgCollection p {
    color: #ffffff;
    display: block
}

.switch {
    position: absolute;
    z-index: 98;
    top: 50%;
    margin-top: -120px;
    left: 20vw
}

.switch a {
    display: block;
    text-align: center;
    width: 120px;
    height: 45px;
    line-height: 45px;
    border-radius: 50px;
    background-color: #0b090c;
    border: solid 1px #0b090c;
    color: #6a626d;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px
}

.switch a:last-child {
    margin-bottom: 0
}

.switch a:hover, .switch a.active {
    color: #ffffff;
    border: solid 1px #c2b6c9;
    background-color: #493a4f
}

@media screen and (max-width: 1280px) {
    .switch {
        left: 10vw
    }
}

@media screen and (max-width: 1023px) {
    .switch {
        left: 0;
        width: 100%;
        text-align: center;
        margin-top: 0;
        top: 12%
    }

    .switch a {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0
    }

    .switch a:hover {
        background-color: #0b090c;
        border: solid 1px #0b090c;
        color: #6a626d
    }
}

@media screen and (max-width: 767px) {
    .switch {
        overflow: auto;
        top: 16%
    }

    .switch a {
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        margin-right: 6px;
        width: 100px
    }

    .switch a:last-child {
        margin-right: 0
    }
}

@media screen and (max-width: 320px) {
    .switch a {
        height: 35px;
        line-height: 35px;
        width: 90px;
        font-size: 16px
    }
}

@media screen and (max-width: 767px) {
    .overflowScroll {
        overflow: hidden;
        width: 600px
    }
}

.OtherLink {
    text-align: center;
    display: block
}

.OtherLink a {
    font-size: 22px;
    margin: 0 5px;
    z-index: 100;
    position: relative
}

.OtherLink a:link {
    color: rgba(255, 255, 255, 0.3)
}

.OtherLink a:active {
    color: rgba(255, 255, 255, 0.3)
}

.OtherLink a:visited {
    color: #ffffff
}

.OtherLink a:hover {
    color: #ffffff
}

.OtherLink a i {
    padding-left: 5px
}

@media screen and (max-width: 1023px) {
    .OtherLink {
        width: 600px;
        height: 600px;
        line-height: 600px
    }
}

@media screen and (max-width: 767px) {
    .OtherLink {
        width: 320px;
        height: 320px;
        line-height: 320px
    }
}

@media screen and (max-width: 320px) {
    .OtherLink {
        width: 280px;
        height: 280px;
        line-height: 280px
    }
}

.list-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #6a626d;
    margin-bottom: 20px;
    line-height: 1;
    position: absolute;
    top: 6vh;
    left: 50%;
    margin-left: -84px;
    z-index: 2
}

@media screen and (max-width: 767px) {
    .list-title {
        font-size: 20px;
        margin-left: -50px;
        top: 8vh
    }
}

.chart-title {
    transition: opacity 0.2s ease-in;
    opacity: 1;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px
}

.chart-title.weak {
    opacity: 0.2
}

@media screen and (max-width: 1367px) {
    .chart-title {
        font-size: 26px;
        margin-bottom: 0
    }
}

@media screen and (max-width: 1280px) {
    .chart-title {
        margin-bottom: 20px
    }
}

@media screen and (max-width: 767px) {
    .chart-title {
        font-size: 18px;
        line-height: 1.4;
        text-align: left;
        margin-bottom: 5px
    }
}

@media screen and (max-width: 320px) {
    .chart-title {
        font-size: 16px
    }
}

.chartimg {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in
}

.chartimg.show {
    opacity: 1
}

.chartimg.behindTXT {
    opacity: 0.2
}

.chartimg.openBG {
    font-size: 16px;
    box-sizing: border-box;
    padding: 20px;
    border: solid 1px #646464;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    width: 80%;
    margin: 0 10%
}

.chartimg.openBG:before {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 1px);
    bottom: -12px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: #646464;
    border-width: 11px 11px 0 0
}

.chartimg.openBG:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -9px;
    width: 0;
    height: 0;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.9);
    border-width: 10px 10px 0 0
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 450px;
    height: 500px;
    border: solid 1px #646464;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 6px #0B090C;
    display: none
}

.modal.open {
    display: block
}

.modal.small {
    width: 450px;
    height: 300px
}

@media screen and (max-width: 767px) {
    .modal {
        width: 100%;
        height: 100%;
        border: none
    }

    .modal.small {
        width: 100%;
        height: 100%
    }
}

.modal-content {
    padding: 40px
}

.modal-content div {
    color: #ffffff;
    text-align: justify;
    display: block
}

@media screen and (max-width: 767px) {
    .modal-content {
        padding: 15px;
        position: absolute;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        overflow: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

.modal-title {
    font-weight: bold;
    font-size: 22px
}

.modal-sub {
    font-weight: bold;
    font-size: 20px
}

.closeModal {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2
}

.closeModal:link {
    color: #ffffff
}

.closeModal:active {
    color: #ffffff
}

.closeModal:visited {
    color: #ffffff
}

.closeModal:hover {
    color: #ffffff
}

.articleContent {
    clear: both;
    zoom: 1;
    position: relative;
    background-color: #ffffff
}

.articleContent:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.mainKV {
    background-image: url("../img/articlebg.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 70px 0 0px 0
}

@media screen and (max-width: 1023px) {
    .mainKV {
        padding: 60px 0 10px 0
    }
}

.mainVisual {
    background-image: url("../img/articlebg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 100px 0 150px 0
}

@media screen and (max-width: 1023px) {
    .mainVisual {
        padding: 100px 0 40px 0
    }
}

.mainWrap {
    margin: 0 auto;
    clear: both;
    zoom: 1
}

.mainWrap:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.mainTop h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5;
    margin: 10px 0
}

@media screen and (max-width: 767px) {
    .mainTop h1 {
        font-size: 30px
    }
}

@media screen and (max-width: 320px) {
    .mainTop h1 {
        font-size: 26px
    }
}

.breadcrumb li {
    color: #ffffff
}

.breadcrumb a:link {
    color: #ffffff
}

.breadcrumb a:active {
    color: #ffffff
}

.breadcrumb a:visited {
    color: #ffffff
}

.breadcrumb a:hover {
    color: #ffffff
}

.middleSummary {
    clear: both;
    zoom: 1;
    background-color: #ebe0ef;
    width: calc(50vw + 500px);
    position: absolute;
    margin-top: -100px
}

.middleSummary:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.middleSummary p {
    font-size: 20px;
    box-sizing: border-box;
    margin: 60px 100px;
    display: block;
    width: 800px;
    float: right;
    text-align: justify
}

@media screen and (max-width: 1023px) {
    .middleSummary {
        width: 100%;
        position: relative;
        margin-top: 0
    }

    .middleSummary p {
        width: 100%;
        margin: 0;
        padding: 40px;
        float: none
    }
}

@media screen and (max-width: 480px) {
    .middleSummary p {
        font-size: 18px;
        padding: 40px 20px
    }
}

@media screen and (max-width: 320px) {
    .middleSummary p {
        font-size: 16px;
        padding: 30px 20px
    }
}

.writer {
    float: left;
    padding-right: 20px;
    padding-bottom: 40px
}

@media screen and (max-width: 767px) {
    .writer {
        float: none;
        padding-bottom: 20px;
        line-height: 1
    }
}

.date {
    padding-bottom: 40px;
    font-size: 14px
}

@media screen and (max-width: 767px) {
    .date {
        float: none;
        padding-bottom: 30px;
        line-height: 1
    }
}

.mainText {
    padding: 200px 0 40px 0
}

@media screen and (max-width: 1023px) {
    .mainText {
        padding: 40px 0 40px 0
    }
}

.related {
    margin: 40px 0;
    position: relative
}

.related .swiper-container {
    width: 100%
}

@media screen and (max-width: 767px) {
    .related .swiper-container {
        width: 90%
    }
}

.related .swiper-slide {
    text-align: center;
    font-size: 18px;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.related .swiper-button-next, .related .swiper-button-prev {
    top: 60%;
    width: 16px;
    height: 30px;
    margin-top: -15px;
    background-size: auto
}

.related .swiper-button-next {
    background-image: url("../img/right-arrow.svg");
    right: -50px
}

@media screen and (max-width: 1367px) {
    .related .swiper-button-next {
        right: -30px
    }
}

@media screen and (max-width: 767px) {
    .related .swiper-button-next {
        right: -15px
    }
}

.related .swiper-button-prev {
    background-image: url("../img/left-arrow.svg");
    left: -50px
}

@media screen and (max-width: 1367px) {
    .related .swiper-button-prev {
        left: -30px
    }
}

@media screen and (max-width: 767px) {
    .related .swiper-button-prev {
        left: -15px
    }
}

.relatedBox {
    display: block;
    width: 100%
}

.relatedBox .wrap {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative
}

.relatedBox .wrap::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute
}

.other-title {
    color: #ffffff;
    z-index: 2;
    position: relative
}

.theme-title {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1
}

@media screen and (max-width: 767px) {
    .theme-title {
        font-size: 22px
    }
}

@media screen and (max-width: 320px) {
    .theme-title {
        font-size: 20px
    }
}

.bold {
    font-weight: bold
}

.paragraph {
    margin-bottom: 40px
}

.paragraph:last-child {
    margin-bottom: 0
}

.paragraph h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0b090c;
    display: block;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10px;
    margin-bottom: 20px
}

.paragraph h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0b090c;
    display: block;
    margin-bottom: 20px
}

.paragraph p {
    margin-bottom: 20px
}

.paragraph p:last-child {
    margin-bottom: 0
}

.paragraph.no-bottom p {
    margin-bottom: 0
}

@media screen and (max-width: 320px) {
    .paragraph h2 {
        font-size: 20px
    }
}

.mark {
    font-size: 14px;
    font-weight: bold;
    background-color: #818084;
    display: inline-block;
    border-radius: 100%;
    margin: 0 2px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
    top: -1px
}

.mark:link {
    color: #ffffff
}

.mark:active {
    color: #ffffff
}

.mark:visited {
    color: #ffffff
}

.mark:hover {
    color: #ffffff
}

.media {
    margin-top: 30px;
    margin-bottom: 20px
}

.media .wrap {
    margin-bottom: 20px;
    text-align: center
}

.media .wrap img {
    margin: 0 auto
}

.media .wraptitle {
    text-align: center;
    font-size: 22px;
    color: #0b090c;
    margin-bottom: 20px
}

@media screen and (max-width: 320px) {
    .media .wraptitle {
        font-size: 18px
    }
}

.media .wrapinfo {
    font-size: 14px;
    color: #0b090c
}

.grayBox {
    clear: both;
    zoom: 1;
    border: solid 1px #d2d2d2;
    background-color: #f7f7f7
}

.grayBox:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.grayBox p {
    font-size: 16px;
    margin-bottom: 0
}

.leftside {
    position: relative;
    float: left;
    width: 50%;
    padding: 30px;
    box-sizing: border-box
}

.leftside:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #d2d2d2
}

@media screen and (max-width: 767px) {
    .leftside {
        float: none;
        width: 100%
    }

    .leftside:after {
        height: 1px;
        width: 100%;
        top: inherit;
        bottom: 0
    }
}

.rightside {
    float: right;
    width: 50%;
    padding: 30px;
    box-sizing: border-box
}

@media screen and (max-width: 767px) {
    .rightside {
        float: none;
        width: 100%
    }
}

.box-title {
    color: #0b090c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px
}

.box-title2 {
    color: #0b090c;
    font-size: 18px;
    font-weight: bold
}

.articleShare {
    padding-bottom: 40px
}

.articleShare a {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    margin-right: 10px
}

.mbOpen {
    display: none
}

@media screen and (max-width: 767px) {
    .mbOpen {
        display: block
    }
}

.pcOpen {
    display: block
}

@media screen and (max-width: 767px) {
    .pcOpen {
        display: none
    }
}

.itemBox {
    float: left;
    width: 31%;
    margin-right: 2%
}

.itemBox:last-child {
    margin-right: 0
}

.itemBox .wrap {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative
}

.itemBox .wrap::before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute
}

.boxhide {
    display: none !important
}

.download {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid #0B090C
}

.table-scroll {
    overflow: auto;
    margin-bottom: 40px
}

.table-scroll table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%
}

.table-scroll table td {
    min-width: 200px;
    padding: 5px
}

.table-scroll table .col {
    background-color: #f5f5f5;
    text-align: center
}

.table-scroll table .alingC {
    text-align: center
}

.table-scroll table .borderT {
    border-top: 1px solid #ddd
}

@media screen and (max-width: 767px) {
    .table-scroll table {
        width: 650px;
        font-size: 14px
    }
}

.dotUL li {
    list-style: circle;
    margin-left: 20px
}

.outerlink {
    font-weight: bold;
    border-bottom: 1px solid #000
}

/*# sourceMappingURL=http://localhost:3000/_maps/style.css.map */