header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%
}

.logo {
    font-size: 3.125rem;
    position: absolute;
    right: 16px;
    top: 0;
    text-shadow: 2px 2px 1px rgba(43, 20, 15, 0.3)
}

.index .logo {
    top: -15px
}

.logo a:link {
    color: #ffffff
}

.logo a:active {
    color: #ffffff
}

.logo a:visited {
    color: #ffffff
}

.logo a:hover {
    color: #ffffff
}

.toggleStyle {
    margin: 16px;
    width: 34px;
    height: 24px;
    position: relative;
    z-index: 2;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer
}

.toggleStyle span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: #ffffff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out
}

.toggleStyle span:nth-child(1) {
    top: 0px;
    transform-origin: left center
}

.toggleStyle span:nth-child(2) {
    top: 10px;
    transform-origin: left center
}

.toggleStyle span:nth-child(3) {
    top: 20px;
    transform-origin: left center
}

.menu {
    position: absolute;
    z-index: 101;
    width: 450px;
    height: 100vh;
    background-color: #382a51;
    color: #ffffff;
    padding: 60px 85px;
    box-sizing: border-box;
    left: -450px;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in
}

@media screen and (max-width: 1023px) {
    .menu {
        width: 100vw;
        left: -100vw;
        padding: 35px;
        overflow: auto;
        -webkit-overflow-scrolling: touch
    }
}

@media screen and (max-width: 767px) {
    .menu {
        padding: 20px
    }
}

.MenuOpen .menu {
    left: 0;
    opacity: 1
}

.closeMenu {
    position: absolute;
    left: 405px;
    top: 20px;
    font-size: 20px;
    line-height: 1
}

.closeMenu:link {
    color: #ffffff
}

.closeMenu:active {
    color: #ffffff
}

.closeMenu:visited {
    color: #ffffff
}

.closeMenu:hover {
    color: #ffffff
}

@media screen and (max-width: 1023px) {
    .closeMenu {
        left: auto;
        right: 20px;
        top: 20px;
        font-size: 20px
    }
}

.alignMenu {
    position: absolute;
    top: calc(50vh - 192.1px);
    width: 280px
}

@media screen and (max-width: 1023px) {
    .alignMenu {
        left: 50%;
        margin-left: -140px;
        height: 100%
    }
}

@media screen and (max-width: 767px) {
    .alignMenu {
        top: calc(50vh - 173.2px)
    }
}

.menuList a {
    display: block
}

.menuList a:link {
    color: #ffffff
}

.menuList a:active {
    color: #ffffff
}

.menuList a:visited {
    color: #ffffff
}

.menuList a:hover {
    color: #ffffff
}

.index .socialShare a {
    padding: 1px 0 0 0
}

.socialShare {
    clear: both;
    zoom: 1;
    padding-top: 30px
}

.socialShare:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.socialShare a {
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    padding: 7px 0 0 0;
    font-size: 18px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    float: left;
    margin: 0 20px 0 0
}

.socialShare a:link {
    color: #ffffff
}

.socialShare a:active {
    color: #ffffff
}

.socialShare a:visited {
    color: #ffffff
}

.socialShare a:hover {
    color: #ffffff
}

@media screen and (max-width: 767px) {
    .socialShare {
        padding-top: 15px
    }
}

.menu-title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    position: relative;
    display: inline-block;
    color: #c4c4c4
}

.menu-title:after {
    content: '';
    display: block;
    border: 1px solid #c4c4c4;
    position: absolute;
    right: -140px;
    width: 120px;
    top: 11px
}

@media screen and (max-width: 1023px) {
    .menu-title {
        display: none
    }
}

.menu-item>a {
    border-bottom: 1px solid #624d87;
    padding: 5px 0;
    font-size: 22px;
    font-weight: bold
}

.menu-item .submenu {
    display: none;
    margin-bottom: 10px;
    margin-top: 10px
}

.menu-item .submenu a {
    font-size: 18px;
    color: #eef0f3;
    padding: 2px 0
}

.menu-item i {
    color: #624d87;
    float: right;
    margin-top: 12px;
    font-size: 20px
}

.menu-item.open {
    display: block
}

.menu-item.open .submenu {
    display: block
}

.menu-item.open i {
    transform: rotate(90deg)
}

@media screen and (max-width: 767px) {
    .menu-item>a {
        font-size: 20px
    }
}

.menu-index>a {
    padding: 5px 0;
    font-size: 22px;
    font-weight: bold
}

.menu-item~.menu-index {
    margin-top: 20px
}

@media screen and (max-width: 767px) {
    .menu-item~.menu-index {
        margin-top: 10px
    }
}

/*# sourceMappingURL=http://localhost:3000/_maps/header.css.map */